.feed {
    background: rgba(247, 247, 247, 1);
}
#feedSection{
    display:grid;
    grid-template-columns: 3fr 7fr;
}
#user-info {
    background-color: white;
    border: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274); 
    grid-column-start: 1;
    /* grid-row-end: 1; */
    padding: 6%;
    margin:5% 0% 0% 10%;
    width:70%;
    display: flex;
    flex-direction: column;
}
.userImage{
    border-radius: 50%;
    border: rgba(216, 48, 39, 0.452) solid;
    width: 15vh;
    text-align: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}
#wall{
    grid-column-start: 2;
    padding: 3% 10% 2% 0%; /* arriba, derecha, abajo, izquierda */
}
.formPost{
    grid-column-start: 2;
    grid-row-start: 1;
    height: 60%;
    margin:7% 10% 0% 0%;
    background-color: white;
    border: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274); 
}   
#post{
    resize: none;
    margin: 4% 3% 2% 2%;
    width: 50%;
    height: 3rem;
    border:transparent;
    outline:none;
    text-align: left;
}
#uploadPhoto{
    margin: 1.5%;
}
.navigatorMenuFeed {
    text-align: right;
    height: 70px;
    background-color:  rgba(116, 55, 144, 1);
}
#bttPost {
    height: 2.5rem;
    width: 6rem;
    background-color: rgba(255, 210, 32, 1);
    border-radius: 5px;
    color:white;
    border-color:transparent;
    float: right;
    margin-right: 3% ;
    margin-top: 1.5%;
}

#feedPrideLogo {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0.2%;
    margin-left:1%;
    margin-top:2.7px;
}
.formPost img{
    width:3rem;
    margin: 1%, 0%, 0%, 10%;  /* no lo toma */
}
.menuFeed {
    margin: 0 30px 0 0;
    font-size: 25px;
}

.menuFeed a {
    clear: right;
    color: whitesmoke;
    margin: 0 10px;
    line-height: 70px;
}

.toggleFeed {
    margin: 0 40px 0 0;
    font-size: 47px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: whitesmoke;
}

#toggle {
    display: none;
}
#activitiesArea{
    margin-top:2%;
    grid-column-start: 2;
}
.userPhotoFeed{
    border-radius: 50%;
    margin-left: 3%;
    margin-bottom:3%;
}

#file-input {
    display: none;
}
.aboutMe{
    resize:none;
    border:transparent;
    outline: none;
    height: 5rem;
    width: 100%;
}
.profile-name{
    text-align: center;
    margin-bottom: 5%;
}
@media only screen and (max-width: 500px) {

    #feedSection{
        grid-template-columns: 1fr;
    }
    #wall{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5% 5% 2% 5%; /* arriba, derecha, abajo, izquierda */

    }
    .toggleFeed {
        display: block;
        cursor: pointer;
    }
    .menuFeed {
        text-align: center;
        width: 100%;
        height: 100vh;
        top: 69px;
        text-align: center;
        padding: 10%;
        background: rgba(116, 55, 144, 1);
        display: none;

    }
    .formPost{
        grid-column-start: 1;
        margin:3% auto 4.5% auto;
        width:90%;
        height: 8rem;
    }
    .menuFeed a {
        display: block;
        margin: 0;
    }
    #user-info{
        display: none;
    }
    #activitiesArea{
        margin:auto;
        grid-column-start: 1;
    }
    #toggle:checked + .menuFeed {
        display: block;
        transition: transform .1s ease-in;
        -webkit-transition: transform .1s ease-in;
        -moz-transition: transform .1s ease-in;
        -ms-transition: transform .1s ease-in;
        -o-transition: transform .1s ease-in;
        position: absolute;
        z-index: 100;
    }
    #feedSection{
        position: relative;
    }
    .formPost hr{
        display: none;
    }
    #bttPost {
        height: 2rem;
        width: 6rem;
        background-color: rgba(255, 210, 32, 1);
        border-radius: 5px;
        color:white;
        border-color:transparent;
        float: right;
        margin-right: 2%;
    }
    #post{
        margin-left: 4%;
        margin-top: 4%;
    }
    #uploadPhoto{
        width: 2.5rem;
        margin: 1.5%;
    }
    #feedPrideLogo{
        margin: 2.2% 0% 0% 5%;
        width: 55px;
        height: 55px;
    }
}