@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    
}

/*-------------------- PARA LA PÁGINA DE ERROR 404 ----------------------- */

.buttonHome {
    background-color: #743790;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 10rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}
.container-404 > h2 {
    margin-bottom: 2rem;
}
.page-404 {
    background-image: url('../images/404image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-right: 2rem;
    margin-bottom: 5rem;
    padding: 2rem;
}

/*-------------------- PARA LA PÁGINA DE INICIO ----------------------- */
.home {
    
    grid-template-columns: repeat(auto-fit, minmax(120px, 400px));
    justify-content: center;
    margin: 35% 15%;
    display:inline-grid;
    color: #333333;
}
section #form {
    display: inline-grid;
    row-gap: 1rem;
}

head{
    display: none;
}
.formContainerHome {
    display:inline-grid;
}

section .forDesktopHome {
    display: none;
}
#email, #password, #goggleButton {
    height: 3rem;
    border-radius: 10px;
    justify-content: center;
    padding: 3%;
}

#email, #password{
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0);
}

.googleButton{
    background-color: white;
    border: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #6C6C64;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 5%;
}
.googleLogo{
    width: 1.4rem;
    margin-right: 10px;
    justify-content: center;
}

.smallText{
    font-size:0.8rem ;
    color: #333333;
}
 .letterPride{
    font-size : 3rem;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #333333;
}

.login  {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 5%;
    height: 3rem;
}

#enterHome {
    color: #333333;
}

#arrowImg, #arrowImgRegister {
    width: 55px;
}
.logo{
    height: 3.5rem;
}
#logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0% 3% 20% 5%;
}
.smallContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rememberMe{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer{
    margin-top: 0%;
    font-size:0.8rem ;
    justify-content: center;
    display:flex;
    align-items: flex-end;
}
#lgtbiqImage{
    width: 0px;  
}
#homePhrase{
    display: none;
}
.textHome {
    margin: 3%;
    color: #333333;
}
@media only screen and (min-width: 700px) {

    .home {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1.5%; /*  depende del height de la pantalla */
    }
    head {
        margin-top: -1%; 
    }
    #lgtbiqImage {
        width:600px;
        justify-content: left;
        margin-bottom: 3%;
    }
    .leftWrapper{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    #homePhrase{
        display: block;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        font-size:2rem;
        color: #333333;
        margin: 0% 20% 0% 5%;
        text-align: justify;
    }
    #logoContainer{
        margin-bottom: 3%;
        justify-content: left;
    }
    
    #enterHome {
        color: white;
    }

    section .forDesktopHome {
        display: block;
    }

    section #form{
        display: block;
        display:flex;
        flex-direction: column;
        width: 35%;
    }

    #arrowImg {
        display: none;
    }
    #welcomeMessage{
        font-size: 1.9rem;
    }
    #loginMessage{
        font-size: 1.5rem;
    }
    .textHome {
        margin-bottom: 1%;
        color: #333333;
    }
    .login {
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        color:white;
        background-color: rgba(255, 204, 0, 1);
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        padding: 4%;
        display: flex;
        justify-content: center;
}
    .googleButton{
        border-radius: 5px;
        padding: 3%;
        background-color: rgba(45, 55, 72, 1);
        color:white;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        font-size: 1rem;
    }
    section .formContainerHome{
        row-gap: 0.8rem;
        display: inline-grid;
        border: rgba(221, 217, 217) solid;
        border-width: 3px;
        display:block;
        display:flex;
        flex-direction: column;
        padding: 30px 40px;
    }
    #email, #password {
        height: 2.5rem;
        border-radius: 5px;
        background-color: white;
        border: rgba(221, 217, 217, 0.842) solid;
        border-width: 1.5px;
    }
    .googleLogo{
        width: 1.3rem;
        margin-right: 10px;
        margin-top: 0.5%; 
    }
    .errorMailMessage{
        color: rgba(216, 48, 39, 1);
        text-align: center;
        font-size: small;
    }
}