.toDesktop, #headerCreateToDesktop {
    display: none;
}

#headerCreate {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.7rem;
}

#formRegister {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 5%;
    padding: 5%;
}

#formRegister > input {
    height: 3rem;
    border-radius: 10px;
    justify-content: center;
    padding: 3%;
}


#buttonRegister {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

#buttonRegisterGoogle{
    height: 2.5rem;
    margin: 10%;
}

.containerRegister {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

#textConditions{
    color: #828282;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    margin-bottom: 4%;
}

@media only screen and (min-width: 700px) {
   
    #headerCreate, #buttonRegister, #buttonRegisterGoogle {
    display: none;
    }
    .toDesktop {
    display: block;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.1rem;
    }

    .googleButton {
        width: 100%;
        align-items: center;
    }

    #headerCreateToDesktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.7rem;
    }

    #textRegister {
        font-weight: bold;
        color: #828282;
        justify-content: center;
        align-items: center;
    }

    #register{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        border: rgba(221, 217, 217) solid;
        margin: 1% 30%;

    }
    #signUp{
        display: block;
        background-color: #FFCC00;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        align-content: center;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        margin-top: 5%;
    }
    #formRegister input {
        height: 3rem;
        border-radius: 5px;
        background-color: white;
        border: rgba(221, 217, 217) solid;
        border-width: 1.5px;
        align-items: center;
    }
    

   
    
    
    

}
