 #headerCreateToDesktop, #signUp {
    display: none;
}
#logoBig{
    text-align: right;
}
#headerCreate {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.7rem;
}

#formRegister {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    /* margin: 5% 0% 0% 5%; */
    padding: 10% 10% 3% 10%;
}

.inputRegister {
    border-radius: 10px;
    justify-content: center;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0);
    width: 90%;
    margin: 3% 5% 1% 5%;
    height: 3rem;

}

#buttonRegister {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    margin-bottom: 3%;
}


#buttonRegisterGoogle{
    height: 2.5rem;
    width: 80%;
    margin: 0% 10% 0% 10%;
    border-radius: 5px;
    background-color: white;
    border: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #6C6C64;
    align-items: center;
    justify-content: space-evenly;
    
}

.containerRegister {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
}

#textConditions{
    color: #828282;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    margin-bottom: 4%;
    margin-top: 6%;
    text-align: center;
}
#textRegister {
    margin-bottom:5%;
}

@media only screen and (min-width: 700px) {
   
    #headerCreate, #buttonRegister {
    display: none;
    }
    .toDesktop {
    display: block;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
    font-size: 1.1rem;
    }

    #buttonRegisterGoogle {
        border-radius: 5px;
        background-color: rgba(45, 55, 72, 1);
        color:white;
        height: 3rem;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        align-items: center;
        justify-content: space-around;
        font-size: 18px;
        width: 80%;
    }

    .googleLogoRegister {
        width: 1.7rem;
    }
    #headerCreateToDesktop {
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    font-size: 1.7rem;
    }

    #textRegister {
        font-weight: bold;
        color: #828282;
        justify-content: center;
        text-align: center;
        font-size: medium;
        margin-bottom:7%;
    }

    #register{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2% 2% 2%;
        border: rgba(221, 217, 217) solid;
        margin: 1% 30%;

    }
    #signUp{
        display: block;
        background-color: #FFCC00;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        align-content: center;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        margin-top: 5%;
        margin-bottom: 3%;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    #formRegister input {
        width: 100%;
        height: 3rem;
        border-radius: 5px;
        background-color: white;
        border: rgba(221, 217, 217) solid;
        border-width: 1.5px;
        align-items: center;
        margin-bottom:3%;
        padding: 2%;
    }
    .errorRegister{
        color: rgba(216, 48, 39, 1);
        text-align: center;
        font-size: small;
        margin:auto;
    }

    .hr{
        height: 10px;
        /* margin: 60px 0 50px 0; */
        background:black;
    }
}
