@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    display: inline-grid;
    font-family: 'Raleway', sans-serif;
    row-gap:0;
}

/*-------------------- PARA LA PÁGINA DE INICIO ----------------------- */

#form {
    display: inline-grid;
    row-gap: 1.5rem;
}

head{
    display: none;
}

.forDesktop {
    display: none;
}
input, button {
    height: 3rem;
    border-radius: 10px;
    justify-content: center;
    padding: 3%;
}
input{
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(255, 255, 255, 0);
}

.googleButton{
    background-color: white;
    border: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #6C6C64;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 5%;
}
.googleLogo{
    width: 1.4rem;
    margin-right: 10px;
    justify-content: center;
}
.home {
    grid-template-columns: repeat(auto-fit, minmax(120px, 400px));
    justify-content: center;
    margin: 35% 15%;
}
.smallText{
    font-size:0.8rem ;
}
h1{
    font-size : 3rem;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.login{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 5%;
}
#arrowImg, #arrowImgRegister {
    width: 55px;
}
.logo{
    height: 3.5rem;
}
#logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20%;
}
.smallContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rememberMe{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer{
    margin-top: 0%;
    font-size:0.8rem ;
    justify-content: center;
    display:flex;
    align-items: flex-end;
}
#lgtbiqImage{
    width: 0px;  
}
/* #formDesktop{
    display: none;
} */
#homePhrase{
    display: none;
}
/* .formContainer{
    display: none;
} */


#signUp {
    display: none;
}
@media only screen and (min-width: 700px) {
    *{
        row-gap: 0.8rem;
    }
    head {
        margin-top: -1%; 
    }
    #lgtbiqImage {
        width:500px;
        justify-content: left;
    }
    .leftWrapper{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    #homePhrase{
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size:2rem;
    }
    #logoContainer{
        margin-bottom: 3%;
        justify-content: left;
    }
    .home {
        justify-content: space-around;
        margin: 5%;
    }
    /* #form{
        display: none;
    } */
    .forDesktop {
        display: block;
    }

    #form{
        display: block;
        display:flex;
        flex-direction: column;
    }

    #arrowImg {
        display: none;
    }
    #welcomeMessage{
        font-size: 1.3rem;
    }
    #loginMessage{
        font-size: 1.5rem;
    }
    .text{
        margin-bottom: 1%;
    }
    .login {
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        color:white;
        background-color: rgba(255, 204, 0, 1);
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        padding: 3%;
        display: flex;
        justify-content: center;
    }
    .googleButton{
        border-radius: 5px;
        padding: 3%;
        background-color: rgba(45, 55, 72, 1);
        color:white;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        font-size: 1rem;
    }
    .containerRegister{
        display:flex;
        padding: 5px 10px;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1rem;
    }
    .formContainer{
        border: rgba(221, 217, 217) solid;
        border-width: 2px;
        display:block;
        display:flex;
        flex-direction: column;
        padding: 20px 50px;
    }
    input {
        height: 2.5rem;
        border-radius: 5px;
        background-color: white;
        border: rgba(221, 217, 217) solid;
        border-width: 1.5px;
    }
    .googleLogo{
        width: 1.3rem;
        margin-right: 10px;
        margin-top: 0.5%; 
    }
    #register{
        display: none;
    }

}


/*-------------------- PARA LA PÁGINA DE REGÍSTRATE ----------------------- */
.toDesktop, #headerCreateToDesktop {
    display: none;
}

#headerCreate {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.7rem;
}

#formRegister {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 5%;
    padding: 5%;
}

#formRegister > input {
    height: 3rem;
    border-radius: 10px;
    justify-content: center;
    padding: 3%;
}



#buttonRegister {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

#buttonRegisterGoogle{
    height: 2.5rem;
    margin: 10%;
}

.containerRegister {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

#textConditions{
    color: #828282;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    margin-bottom: 4%;
}

@media only screen and (min-width: 700px) {
   
    #headerCreate, #buttonRegister, #buttonRegisterGoogle {
    display: none;
    }
    .toDesktop {
    display: block;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.1rem;
    }

    .googleButton {
        width: 100%;
        align-items: center;
    }

    #headerCreateToDesktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 1.7rem;
    }

    #textRegister {
        font-weight: bold;
        color: #828282;
        justify-content: center;
        align-items: center;
    }

    #register{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        border: rgba(221, 217, 217) solid;
        margin: 1% 30%;

    }
    #signUp{
        display: block;
        background-color: #FFCC00;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        align-content: center;
        border: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.274);
        margin-top: 5%;
    }
    #formRegister input {
        height: 3rem;
        border-radius: 5px;
        background-color: white;
        border: rgba(221, 217, 217) solid;
        border-width: 1.5px;
        align-items: center;
    }
    

   
    
    
    

}

/*-------------------- PARA LA PÁGINA DE FEED ----------------------- */

.feed{
    grid-template-columns: 100%;
}
#feedConfigArea{
    display:none;
}
.checkBtn {
    display: block;
    justify-content: left;
    /* margin-left:12%; */
    color: white;
    margin-top: 2.5%;
}

#feedHeader{
    background-color:rgba(116, 55, 144, 1);
    height: 7vh;

}
#feedLogo{
    width: 32px;
    height: 32px;
    justify-content: center;
    margin-left: 5%;
}
#search{
    display:flex;
    flex-direction: row;
    color:white;

}
#searchIcon{
    width: 18px;
    height: 18px;
    margin-top:2%;
    margin-right: 3%;
}
#searchBar{
    height: 15px;
    width: 170px;
    background-color: rgba(222, 184, 135, 0);
    border: none;
    color:white;
    margin-top:2%;
}
#menuNavigator{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#hamburguerMenu{
    height: 20px;
    justify-content: center;
    margin:auto;
}
#check{
    display:none;
}
#activitiesTitle{
    display: none;
}
#activitiesArea{
    display: block;

}
#profile{
    display:none;
}
.botonMenu{
   margin: 0 auto;
   display: block;
   width: 40px;
   height: 36px;
   padding: 10px;
   border-radius: 7px;
   color: white;
   cursor: pointer;
   position: relative;
}

#hamburguerBtn{
    width: 25px;
}
label{
   cursor: pointer;
}

#menu-toggle{
   display: none;
}

#trickMenu{
   display: none;
   text-align: center;
   background: rgba(116, 55, 144, 1);
   padding: 10px 0;
}

#trickMenu ul {
        /*position: fixed;
        */width: 100%;
        height: 100vh;
        /*background: black;
        */top: 100px;
        /* left: -100%; */
        text-align: center;
        display: inline-block;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
}

#trickMenu li a {
   display: block;
   padding: 10px 0;
   color: white;
}

#menu-toggle:checked + #trickMenu{
   /* display: block; */
   display:flex;
   flex-direction: column;
}



@media only screen and (min-width: 700px) {
    .feed{
        grid-template-columns: 20% 50% 30%;
    }
    #feedHeader{
        grid-row-start: 0;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:rgba(116, 55, 144, 1);
        height: 8vh;
    }
    *{
        row-gap:0;
    }
    #menuNavigator{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }
    #menuNavigator > ul {
        grid-column-start: 1;
        grid-column-end: 4;
        display: inline-block;
        /* display:flex; */
    }
    #feedConfigArea{
        display:block;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color:rgba(247, 247, 247, 1);
        height: 89vh;
    }
    #profile{
        display:block;
        margin-left: 20%;
    }
    #activitiesArea{
        display:flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color:rgba(247, 247, 247, 1);
    }
    #aditionalsArea{
        grid-column-start: 3;
        grid-column-end: 4;
        background-color:rgba(247, 247, 247, 1);
    }
    #feedLogo{
        width: 40px;
        height: 40px;
        justify-content: center;
    }
    #search{
        display:flex;
        flex-direction: row;
        color:white;
        justify-content: center;
        margin-left: 15%;
    }
    #searchBar{
        height: 30px;
        width: 200px;
        background-color: rgba(222, 184, 135, 0);
        border: none;
        color:white;
        
    }
    #search > ::-webkit-input-placeholder { color: white; } 
    #searchIcon{
        width: 17px;
        height: 17px;
        margin-top:3.5%;
        margin-right: 3%;
    }
    .feedConfig{
        background-color:white;
        margin: 10% 18% 18% 18%;
        display: flex;
        flex-direction: column;
        height: 30%;
    }
    .configIcon{
        margin-left: 5%;
        height: 30px;
        width: 30px;
        margin-top:3%;
    }
    .activities{
        background-color:white;
        height: 50vh;
        margin: 5%;
    }
    .aditionals{
        background-color:white;
        margin: 15%;
    }
    
    #activitiesTitle{
        display:block;
        padding-top: 5%;
        padding-left:5%;
        height: 3%;
        font-weight: lighter;
        color: rgba(108, 108, 100, 1);
        font-size: 15px;
    }
    #check,#hamburguerMenu{
        display: none;
    }
   
    .feedConfigOption{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
        padding-top: 5%;
    }
    .feedConfigOption > p {
        margin-left: 5%;
        color:rgba(135, 135, 135, 1);
    }
    #hamburguerBtn{
        display:none;
    }
    #trickMenu> li{
        display:none;
    }
}